<div class="py-[20px] bg-[#f7f7f7] mb-[20px]">
  <div class="wrapper mx-auto w-[1220px] px-[20px]">
    <!-- <h3 class="text-[#151515] font-semibold mb-3 text-xl uppercase">
      Collection - Left Sidebar
    </h3> -->
    <nav class="text-[#505050]">
      <a
        routerLink="/"
        title="Back to the frontpage"
        class="hover:text-[#ee3131] uppercase"
        >Trang chủ</a
      >
      <span class="px-1">›</span>
      <span class="uppercase">Sản Phẩm</span>
    </nav>
  </div>
</div>

<div class="mb-10">
  <div class="px-[20px]">
    <div class="w-[1220px] mx-auto">
      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1 bg-white w-full">
          <div class="border-[1px] border-gray-300 mb-[20px]">
            <h1
              routerLink="/products"
              (click)="getProducts()"
              class="bg-[#ee3131] text-white text-[17px] font-semibold p-[14px] uppercase cursor-pointer"
            >
              Danh mục sản phẩm
            </h1>
            <ul
              class="p-[20px] text-[#505050] leading-8"
              *ngIf="categories && categories.length"
            >
              <li *ngFor="let category of categories" class="cursor-pointer">
                <a
                  [routerLink]="['/products']"
                  [queryParams]="{ categoryId: category._id }"
                  queryParamsHandling="merge"
                >
                  <span
                    class="hover:text-[#ee3131]"
                    (click)="getProductFromCategory(category._id)"
                    *ngIf="category.name !== 'uncategorized'"
                  >
                    <i
                      class="fa-solid fa-chevron-right text-[10px] mr-[8px]"
                    ></i
                    >{{ category.name }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="border-[1px] border-gray-300">
            <h1
              class="bg-[#ee3131] text-white text-[17px] font-semibold p-[14px] uppercase"
            >
              Lọc sản phẩm
            </h1>

            <div class="text-[#1a1b18] text-base p-[14px] text-left">
              <div class="mb-[15px]">
                <span class="py-2 text-[#505050] font-semibold text-[20px]"
                  >Lọc Theo</span
                >
                <select
                  name="sort_by"
                  class="p-2 w-full"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                  (change)="onSortChange($event)"
                >
                  <option
                    *ngFor="let option of sortOptions"
                    [value]="option.value"
                    [selected]="option.value === selectedSortOption"
                  >
                    {{ option.label }}
                  </option>
                </select>
              </div>
              <div>
                <span class="py-2 text-[#505050] font-semibold text-[20px]"
                  >Price</span
                >
                <form class="px-[5px] border-[1px] border-gray-300">
                  <div class="relative flex items-center w-full my-[10px]">
                    <span class="px-1 text-[13px]">VND</span>
                    <input
                      class="p-3 bg-slate-200"
                      name="filter.v.price.gte"
                      value="1.00"
                      type="number"
                      placeholder="0"
                      min="0"
                      max="100.00"
                    />
                    <label
                      class="absolute top-[-4px] left-11 text-[10px]"
                      for=""
                      >From</label
                    >
                  </div>
                  <div class="relative flex items-center w-full my-[10px]">
                    <span class="px-1 text-[13px]">VND</span>
                    <input
                      class="p-2 bg-slate-200"
                      name="filter.v.price.lte"
                      value="100.00"
                      type="number"
                      placeholder="2000.00"
                      min="1.00"
                      max="2000.00"
                    />

                    <label
                      class="absolute top-[-4px] left-11 text-[10px]"
                      for=""
                      >To</label
                    >
                  </div>
                </form>
              </div>
            </div>

            <!-- // form -->
          </div>
        </div>
        <div class="col-span-4">
          <div class="grid grid-cols-4 gap-4 mb-6">
            <div
              *ngFor="
                let product of products
                  | paginate
                    : {
                        itemsPerPage: itemsPerPage,
                        currentPage: currentPage,
                        totalItems: totalItems
                      }
              "
            >
              <div class="bg-white p-4 border-[1px] border-gray-300">
                <div class="product-image">
                  <a routerLink="">
                    <img src="{{ product.thumb }}" alt="{{ product.thumb }}" />
                  </a>
                </div>
                <div class="product-content">
                  <div class="my-2">
                    <a
                      routerLink="{{ product.slug }}"
                      class="block text-[18px] text-[#505050] hover:text-[#ee3131]"
                      >{{ product.name }}</a
                    >
                  </div>
                  <div class="mb-1">
                    <i class="fas fa-star text-yellow-500"></i>
                    <i class="fas fa-star text-yellow-500"></i>
                    <i class="fas fa-star text-yellow-500"></i>
                    <i class="fas fa-star text-yellow-500"></i>
                    <i class="fas fa-star text-yellow-500"></i>
                  </div>
                  <div class="price text-[#505050] hover:text-[#ee3131]">
                    <p>{{ product.price }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center w-full mt-5">
            <pagination-controls
              (pageChange)="onPageChange($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
