<div class="py-[20px] bg-[#f7f7f7] mb-[20px]">
  <div class="wrapper mx-auto w-[1220px] px-[20px]">
    <!-- <h3 class="text-[#151515] font-semibold mb-3 text-xl uppercase">
      Collection - Left Sidebar
    </h3> -->
    <nav class="text-[#505050]">
      <a
        routerLink="/"
        title="Back to the frontpage"
        class="hover:text-[#ee3131] uppercase"
        >Trang chủ</a
      >
      <span class="px-1">›</span>
      <span class="uppercase">Sản Phẩm</span>
    </nav>
  </div>
</div>

<div class="mb-10">
  <div class="px-[20px]">
    <div class="w-[1220px] mx-auto">
      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1 bg-white w-full">
          <div class="border-[1px] border-gray-300 mb-[20px]">
            <h1
              class="bg-[#ee3131] text-white text-[17px] font-semibold p-[14px] uppercase"
            >
              Danh mục sản phẩm
            </h1>
            <ul class="p-[20px] text-[#505050] leading-8">
              <li>
                <a routerLink="">
                  <span class="hover:text-[#ee3131]">
                    <i
                      class="fa-solid fa-chevron-right text-[10px] mr-[8px]"
                    ></i
                    >Lenovo
                  </span>
                </a>
              </li>
              <li>
                <a routerLink="">
                  <span class="hover:text-[#ee3131]">
                    <i
                      class="fa-solid fa-chevron-right text-[10px] mr-[8px]"
                    ></i
                    >Dell
                  </span>
                </a>
              </li>
              <li>
                <a routerLink="">
                  <span class="hover:text-[#ee3131]">
                    <i
                      class="fa-solid fa-chevron-right text-[10px] mr-[8px]"
                    ></i
                    >MackBook
                  </span>
                </a>
              </li>
              <li>
                <a routerLink="">
                  <span class="hover:text-[#ee3131]">
                    <i
                      class="fa-solid fa-chevron-right text-[10px] mr-[8px]"
                    ></i
                    >Acer
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="border-[1px] border-gray-300">
            <h1
              class="bg-[#ee3131] text-white text-[17px] font-semibold p-[14px] uppercase"
            >
              Lọc sản phẩm
            </h1>
            <div class="text-[#1a1b18] text-base p-[14px] text-left">
              <span class="py-2 text-[#505050] font-semibold text-[20px]"
                >Price</span
              >

              <form class="px-[5px] border-[1px] border-gray-300">
                <div class="relative flex items-center w-full my-[10px]">
                  <span class="px-1 text-[13px]">VND</span>
                  <input
                    class="p-3 bg-slate-200"
                    name="filter.v.price.gte"
                    value="1.00"
                    type="number"
                    placeholder="0"
                    min="0"
                    max="100.00"
                  />
                  <label class="absolute top-[-4px] left-11 text-[10px]" for=""
                    >From</label
                  >
                </div>
                <div class="relative flex items-center w-full my-[10px]">
                  <span class="px-1 text-[13px]">VND</span>
                  <input
                    class="p-2 bg-slate-200"
                    name="filter.v.price.lte"
                    value="100.00"
                    type="number"
                    placeholder="2000.00"
                    min="1.00"
                    max="2000.00"
                  />

                  <label class="absolute top-[-4px] left-11 text-[10px]" for=""
                    >To</label
                  >
                </div>
              </form>
            </div>

            <!-- // form -->
          </div>
        </div>
        <div class="col-span-4">
          <div class="grid grid-cols-4 gap-4 mb-6">
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 border-[1px] border-gray-300">
              <div class="product-image">
                <a routerLink="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_large.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-content">
                <div class="my-2">
                  <a
                    routerLink="#"
                    class="block text-[20px] text-[#505050] hover:text-[#ee3131]"
                    >DELL INSPIRON 7460</a
                  >
                </div>
                <div class="mb-1">
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                  <i class="fas fa-star text-yellow-500"></i>
                </div>
                <div class="price text-[#505050] hover:text-[#ee3131]">
                  <p>21.116.620,59 VND</p>
                </div>
              </div>
            </div>
          </div>

          <div class="mx-auto">
            <ul class="flex -space-x-px">
              <li>
                <a
                  href="#"
                  class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700"
                  >Previous</a
                >
              </li>
              <li>
                <a
                  href="#"
                  aria-current="page"
                  class="px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                  >1</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                  >2</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                  >3</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                  >4</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                  >5</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700"
                  >Next</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
