<div class="brands mb-[35px]">
  <div
    class="brands-container px-[170px] flex flex-row justify-center gap-x-[76px]"
  >
    <div class="w-[236px] h-[60px]">
      <img
        src="../../../../assets/Acer-Logo.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div class="w-[236px] h-[60px]">
      <img
        src="../../../../assets/Asus-logo.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div class="w-[236px] h-[60px]">
      <img
        src="../../../../assets/Dell_Logo.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div class="w-[236px] h-[60px]">
      <img
        src="../../../../assets/HP-logo.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div class="w-[236px] h-[60px]">
      <img
        src="../../../../assets/Lenovo-logo.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div class="w-[236px] h-[60px]">
      <img
        src="../../../../assets/Macbook-logo.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</div>
