<div class="new-arrivals mb-5">
  <div class="new-arrivals-container px-[170px]">
    <div
      class="flex flex-row justify-between items-center border-b-2 border-solid border-digital-400 pb-3 mb-5"
    >
      <div class="text-xl font-semibold uppercase">HÀNG MỚI VỀ</div>

      <div class="flex items-center gap-x-[45px]">
        <a href="#">Xem tất cả</a>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-x-5">
      <div class="border border-solid border-[#ccc] p-[15px]">
        <div class="mb-5">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_345x550.jpg?v=1491404804"
              alt=""
            />
          </a>
        </div>

        <div>
          <a
            routerLink="#"
            class="text-[#2b3743] text-base mb-[6px] inline-block"
          >
            Dell Inspiron 7460
          </a>
          <div class="mb-3 text-[#f1b400] text-xs">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[#2b3743] text-base"> 45000 VND </span>
        </div>
      </div>

      <div class="border border-solid border-[#ccc] p-[15px]">
        <div class="mb-5">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_345x550.jpg?v=1491404804"
              alt=""
            />
          </a>
        </div>

        <div>
          <a
            routerLink="#"
            class="text-[#2b3743] text-base mb-[6px] inline-block"
          >
            Dell Inspiron 7460
          </a>
          <div class="mb-3 text-[#f1b400] text-xs">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[#2b3743] text-base"> 45000 VND </span>
        </div>
      </div>

      <div class="border border-solid border-[#ccc] p-[15px]">
        <div class="mb-5">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_8ad649f4-de63-464c-a7d1-7573c1b53a2d_345x550.jpg?v=1491404804"
              alt=""
            />
          </a>
        </div>

        <div>
          <a
            routerLink="#"
            class="text-[#2b3743] text-base mb-[6px] inline-block"
          >
            Dell Inspiron 7460
          </a>
          <div class="mb-3 text-[#f1b400] text-xs">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[#2b3743] text-base"> 45000 VND </span>
        </div>
      </div>
    </div>
  </div>
</div>
