<div class="featured-products">
  <div class="featured-products-container px-[170px]">
    <div
      class="mb-5 text-xl font-semibold uppercase border-b-2 border-solid border-digital-400 pb-3"
    >
      SẢN PHẨM NỔI BẬT
    </div>

    <div class="grid grid-cols-3 gap-x-5">
      <div
        class="flex border border-solid border-[#ccc] py-4 pl-4 gap-x-5 mb-5"
      >
        <div class="w-[85px] h-[85px]">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_6dbdaadc-bd0c-454b-b4c1-395b60a2e2a7_345x550.jpg?v=1491404782"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
        </div>

        <div>
          <a href="#" class="text-[#505050] mb-2 inline-block text-base"
            >HP ProBook 450
          </a>
          <div
            class="text-[#f1b400] text-[10px] flex items-center gap-x-[3px] mb-[9px]"
          >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[13px]"> 45000 VND </span>
        </div>
      </div>

      <div
        class="flex border border-solid border-[#ccc] py-4 pl-4 gap-x-5 mb-5"
      >
        <div class="w-[85px] h-[85px]">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_6dbdaadc-bd0c-454b-b4c1-395b60a2e2a7_345x550.jpg?v=1491404782"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
        </div>

        <div>
          <a href="#" class="text-[#505050] mb-2 inline-block text-base"
            >HP ProBook 450
          </a>
          <div
            class="text-[#f1b400] text-[10px] flex items-center gap-x-[3px] mb-[9px]"
          >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[13px]"> 45000 VND </span>
        </div>
      </div>

      <div
        class="flex border border-solid border-[#ccc] py-4 pl-4 gap-x-5 mb-5"
      >
        <div class="w-[85px] h-[85px]">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_6dbdaadc-bd0c-454b-b4c1-395b60a2e2a7_345x550.jpg?v=1491404782"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
        </div>

        <div>
          <a href="#" class="text-[#505050] mb-2 inline-block text-base"
            >HP ProBook 450
          </a>
          <div
            class="text-[#f1b400] text-[10px] flex items-center gap-x-[3px] mb-[9px]"
          >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[13px]"> 45000 VND </span>
        </div>
      </div>

      <div
        class="flex border border-solid border-[#ccc] py-4 pl-4 gap-x-5 mb-5"
      >
        <div class="w-[85px] h-[85px]">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_6dbdaadc-bd0c-454b-b4c1-395b60a2e2a7_345x550.jpg?v=1491404782"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
        </div>

        <div>
          <a href="#" class="text-[#505050] mb-2 inline-block text-base"
            >HP ProBook 450
          </a>
          <div
            class="text-[#f1b400] text-[10px] flex items-center gap-x-[3px] mb-[9px]"
          >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[13px]"> 45000 VND </span>
        </div>
      </div>

      <div
        class="flex border border-solid border-[#ccc] py-4 pl-4 gap-x-5 mb-5"
      >
        <div class="w-[85px] h-[85px]">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_6dbdaadc-bd0c-454b-b4c1-395b60a2e2a7_345x550.jpg?v=1491404782"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
        </div>

        <div>
          <a href="#" class="text-[#505050] mb-2 inline-block text-base"
            >HP ProBook 450
          </a>
          <div
            class="text-[#f1b400] text-[10px] flex items-center gap-x-[3px] mb-[9px]"
          >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[13px]"> 45000 VND </span>
        </div>
      </div>

      <div
        class="flex border border-solid border-[#ccc] py-4 pl-4 gap-x-5 mb-5"
      >
        <div class="w-[85px] h-[85px]">
          <a routerLink="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/products/z1_2_6dbdaadc-bd0c-454b-b4c1-395b60a2e2a7_345x550.jpg?v=1491404782"
              alt=""
              class="w-full h-full object-cover"
            />
          </a>
        </div>

        <div>
          <a href="#" class="text-[#505050] mb-2 inline-block text-base"
            >HP ProBook 450
          </a>
          <div
            class="text-[#f1b400] text-[10px] flex items-center gap-x-[3px] mb-[9px]"
          >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="text-[13px]"> 45000 VND </span>
        </div>
      </div>
    </div>
  </div>
</div>
