<div class="gallery mb-5">
  <div
    class="gallery-container px-[170px] flex flex-row gap-x-5 justify-between"
  >
    <div>
      <a href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/1903/4853/files/banner1-bottom-home2_b96bc752-67d4-45a5-ac32-49dc691b1958_600x.jpg?v=1613166661"
          alt=""
        />
      </a>
    </div>

    <div class="flex flex-col gap-y-5 justify-between">
      <div>
        <a href="#">
          <img
            src="https://cdn.shopify.com/s/files/1/1903/4853/files/banner2-bottom-home2_400x.jpg?v=1613166661"
            alt=""
          />
        </a>
      </div>

      <div>
        <a href="#">
          <img
            src="https://cdn.shopify.com/s/files/1/1903/4853/files/banner3-bottom-home2_400x.jpg?v=1613166661"
            alt=""
          />
        </a>
      </div>
    </div>

    <div>
      <a href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/1903/4853/files/banner4-bottom-home2_92e12df0-500c-4897-882a-7d061bb417fd_400x.jpg?v=1613166661"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
