<div class="blog-posts mb-[60px]">
  <div class="blog-posts-container px-[170px]">
    <div
      class="mb-5 text-xl font-semibold uppercase border-b-2 border-solid border-digital-400 pb-3"
    >
      BLOG POSTS
    </div>

    <div class="grid grid-cols-3 gap-x-5">
      <div>
        <div class="mb-6">
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/articles/blog1.jpg?v=1492594896"
              alt=""
            />
          </a>
        </div>

        <div class="text-center">
          <a
            href="#"
            class="font-semibold uppercase text-base mb-[17px] inline-block"
          >
            Đây là 5 điện thoại tốt nhất bạn có thể mua ngay bây giờ
          </a>

          <div
            class="flex flex-row gap-x-[14px] justify-center mb-3 text-[#808080] text-[13px]"
          >
            <div>
              <i class="fa-regular fa-calendar-days"></i>
              <span class="pl-2">December 13, 2016</span>
            </div>

            <div>
              <i class="fa-regular fa-message"></i>
              <span class="pl-2">1 comment</span>
            </div>
          </div>

          <div class="text-[#505050] text-[13px]">
            Từ những người bỏ túi đắt tiền cho đến những người đẹp ngân sách yêu
            thích của chúng tôi. Bạn đã cập nhật mọi thứ bạn cần biết trước khi
            mua điện thoại và bây giờ...
          </div>
        </div>
      </div>

      <div>
        <div class="mb-6">
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/articles/blog13.jpg?v=1492595088"
              alt=""
            />
          </a>
        </div>

        <div class="text-center">
          <a
            href="#"
            class="font-semibold uppercase text-base mb-[17px] inline-block"
          >
            Ứng dụng TV mới của Apple hoạt động với tìm kiếm hợp nhất
          </a>

          <div
            class="flex flex-row gap-x-[14px] justify-center mb-3 text-[#808080] text-[13px]"
          >
            <div>
              <i class="fa-regular fa-calendar-days"></i>
              <span class="pl-2">December 13, 2016</span>
            </div>

            <div>
              <i class="fa-regular fa-message"></i>
              <span class="pl-2">1 comment</span>
            </div>
          </div>

          <div class="text-[#505050] text-[13px]">
            Bản cập nhật cho phần mềm di động iOS của Apple cũng mang đến hàng
            trăm biểu tượng cảm xúc mới cho iPhone và iPad của bạn -- và giữ cho
            cặp mông đào yêu quý đó...
          </div>
        </div>
      </div>

      <div>
        <div class="mb-6">
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/1903/4853/articles/blog12.jpg?v=1492595082"
              alt=""
            />
          </a>
        </div>

        <div class="text-center">
          <a
            href="#"
            class="font-semibold uppercase text-base mb-[17px] inline-block"
          >
            Năm 2017, camera điện thoại của bạn sẽ có siêu năng lực
          </a>

          <div
            class="flex flex-row gap-x-[14px] justify-center mb-3 text-[#808080] text-[13px]"
          >
            <div>
              <i class="fa-regular fa-calendar-days"></i>
              <span class="pl-2">December 13, 2016</span>
            </div>

            <div>
              <i class="fa-regular fa-message"></i>
              <span class="pl-2">1 comment</span>
            </div>
          </div>

          <div class="text-[#505050] text-[13px]">
            Thực tế ảo là một khái niệm hơi dễ hiểu trong năm 2016. Bạn đeo tai
            nghe vào, bạn thấy mình đang ở trong thế giới 3D. Nhưng thực tế tăng
            cường -- AR...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
